* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(219, 226, 226);
  margin-top: 20px;
}

.row {
  background-color: #fff;
  border-radius: 30px;
  box-shadow: 12px 12px 22px grey;
}

img {
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
}

.btn1 {
  border: none;
  outline: none;
  height: 50px;
  width: 100%;
  background-color: black;
  color: #fff;
  border-radius: 4px;
  font-weight: bold;
}

.btn1:hover {
  background-color: #fff;
  border: 1px solid;
  color: black;
}

.error_msg {
  color: red;
}

.user-wrapper .panel-body {
  max-height: 650px;
  overflow: auto;
}

.user-wrapper .user-list .user img {
  width: 64px;
  height: 64px;
}

.user-wrapper .user-list .user {
  border-bottom: 1px dashed #efefef;
  margin-bottom: 25px;
  list-style: none;
}

.head-cont {
  border: 3px solid black;
  padding: 10px;
  border-radius: 30px;
}
